<div class="p-4">
  <div class="text-2xl text-primary">This text color is from lib</div>

  <core-form-field appearance="fill">
    <core-label>Username</core-label>
    <input coreInput type="text" [ngModel]="username" />
    <core-hint>Form hint zone</core-hint>
  </core-form-field>

  <div class="flex flex-col space-y-4">
    <button core-filled-button color="primary" #btn="CoreButton">Filled primary button</button>
  </div>
</div>

<a [routerLink]="['/home']">Go to home</a> |
<a core-text-button [routerLink]="['/']">Retour sur la page principale</a>

<hr />
<router-outlet />
